.descriptionbox {
    width: 90%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}

.descriptionbox-navigator {
    display: flex;
}

.descriptionbox-nav-box {
    display: flex;
    border: 1px solid #d0d0d0;
    width: 130px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.descriptionbox-nav-box.fade {
    background-color: #fbfbfb;
    color: #555;
}

.descriptionbox-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #d0d0d0;
    padding: 30px;
}